<div class="top">
    <h2>ADD EDUCATION</h2>
</div>
<div class="container">
    <form #myform="ngForm" (ngSubmit)="addEducation(myform.value)">
        <div class="form-group">
            <label for="college">College Name:</label>
            <input type="text" id="college" name="college" ngModel required>
        </div>
        <div class="form-group">
            <label for="place">Place:</label>
            <input type="text" id="place" name="place" ngModel required>
        </div>
        <div class="form-group">
            <label for="duration">Duration:</label>
            <input type="text" id="duration" name="duration" ngModel required>
        </div>
        <div class="form-group">
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" ngModel required>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Education">
        </div>
    </form>
</div>
