<header>
  <div class="navbar">
    <div class="logo">
      <a href="login">Portfolio.</a>
    </div>
    <div class="nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="skills">Skills</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <div #toggleBtn class="menu">
        <img src="assets\images\menu.png" alt="" />
        <span #closeBtn class="close-btn" style="display: none;">×</span>
      </div>
    </div>
    <div #dropdownMenu class="dropdown-menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="skills">Skills</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>