.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.head {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    width: 90%;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th{
    height: 40px;
    color: #3A5154;
}

td{
    color: #3A5154;
    padding-left: 10px;
}

table,th,td{
    border: 2px solid #B7673C;
}

button {
    background-color: #B7673C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.actionbuttons{
    display: flex;
    gap: 10px;
    margin: 10px;
    justify-content: center;
}

button:hover {
    background-color: #885134;
}

.image{
    display: flex;
    justify-content: center;
}

img{
    height: 60px;
    width:  60px;
}